# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.ipynb

# files
*.csv
*.pdf
*.doc
~$*.docx
*.docx
*.xlsx
*.xls

# C extensions
*.so

# MacOS
.DS_Store
# windows
Thumbs.db
ehthumbs.db

# PyCharm
.idea/

# Celery
celerybeat-schedule
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat.pid

# stuff:
*.log
/logs/
db.sqlite
db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject
.project
.pydevproject
