# celery 安装的依赖
six==1.16.0
amqp==5.2.0
billiard==4.2.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
kombu==5.3.7
prompt-toolkit==3.0.47
python-dateutil==2.9.0.post0
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
celery==5.4.0
dnspython==2.6.1

# 安装 mongodb 和 redis
pymongo==4.8.0
mongoengine==0.28.2
redis==5.0.7

# 安装 SQLAlchemy(使用 sqlite 作为 clery 数据储存时必须用 SQLAlchemy)
greenlet==3.0.3
typing-extensions==4.12.2
SQLAlchemy==2.0.32

# flask 安装的依赖
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==3.0.3
blinker==1.8.2
flask==3.0.3
itsdangerous==2.2.0

# adam 安装的依赖
pyjwt==2.9.0
# requests 安装的依赖
certifi==2024.7.4
charset-normalizer==3.1.0
# charset-normalizer==3.3.2 # 这版本会导致bug
idna==3.7
requests==2.32.3
urllib3==2.2.2

# flower 安装的依赖
pytz==2024.1
humanize==4.10.0
tornado==6.4.1
flower==2.0.1

# gevent 安装的依赖
pycparser==2.22
cffi==1.17.1
zope.interface==7.0.3
zope.event==5.0
gevent==24.2.1

gunicorn==23.0.0

# ipython 安装
asttokens==2.4.1
pure-eval==0.2.3
executing==2.1.0
ptyprocess==0.7.0
parso==0.8.4
stack-data==0.6.3
jedi==0.19.1
pexpect==4.9.0
traitlets==5.14.3
decorator==5.1.1
pygments==2.18.0
matplotlib-inline==0.1.7
ipython==8.27.0

